<h1>新規投稿一覧</h1>

 <% @lists.each do |list| %> <!--eachメソッド＝@lists.eachと記述することで、Listレコードの数だけ繰り返し処理を行う（＝不要）-->
 
<p>タイトル</p>
<span>
    <%= link_to list.title, list_path(list.id) %>　<!--link_to 表示させるテキスト, リンク先URL[,オプション]--><!--今回はidカラム-->
</span>　<!--listで取り出したいtitle-->

<% end %>
